{% extends "base_generic.html" %}

{% block content %}
<!-- Page Content -->
  
  <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                {% load static %}
              <a href="" ><img class="d-block w-100" src="{% static 'img/slide1.png' %}" alt="First slide"></a>
              <div class="carousel-caption">
                  <h3>Recomendamos</h3>
                  <p>Promo 70 Premium</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="Prox.html" ><img class="d-block w-100" src="{% static 'img/slide3.png' %}" alt="Second slide"></a>
              <div class="carousel-caption">
                  <h3>Encuentranos</h3>
                  <p>Revisa nuestra dirección</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="Menu.html" ><img class="d-block w-100" src="{% static 'img/slide2.png' %}" alt="Third slide"></a>
              <div class="carousel-caption">
                  <h3>Recomendamos</h3>
                  <p>Prueba nuestros postres</p>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    <!-- Jumbotron Header 
    <header class="jumbotron my-4" style="background-image: url(img/header.png)">
      <h1 class="display-3">¡Bienvenidos a NEKOSUSHI!</h1>
      <p class="lead">¡No te resistas!</p>
      <a href="#" class="btn btn-primary btn-lg">¡Haz tu pedido!</a>
    </header> -->

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/onigiri.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Nigiri Sushi</h4>
            <p class="card-text"> Desde: <br> $3.900</p>
          </div>
          <div class="card-footer">
            <a href="Menu.html" class="btn btn-primary">¡Quiero esto!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/sinarroz.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Roll Sin Arroz</h4>
            <p class="card-text"> Desde: <br> $4.500</p>
          </div>
          <div class="card-footer">
            <a href="Menu.html" class="btn btn-primary">¡Quiero esto!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/promociones.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Promociones</h4>
            <p class="card-text"> Desde: <br> $7.500</p>
          </div>
          <div class="card-footer">
            <a href="Menu.html" class="btn btn-primary">¡Quiero esto!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/brownie-roll.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Postres</h4>
            <p class="card-text"> Desde: <br> $3.000</p>
          </div>
          <div class="card-footer">
            <a href="Menu.html" class="btn btn-primary">¡Quiero esto!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->





</body>

</html>
{% endblock %}